{% extends "base.html" %}

{% block content %}
<h1>Все тренеры и их покемоны</h1>


<table class="pokemons-table">
    <thead>
        <tr>
            <th>Тренер</th>
            <th>Покемон</th>
            <th>Здоровье</th>
            <th>Сила атаки</th>
            <th>Последнее кормление</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for name, pokemon_name, hp, power in pokemons %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ pokemon_name }}</td>
            <td>{{ hp }}</td>
            <td>{{ power }}</td>
            <td>
                {{ all_pokemons_dict[name].last_feed_time.strftime('%H:%M:%S')
                if all_pokemons_dict[name].last_feed_time
                else 'Не кормился' }}
            </td>
            <td>
                {% if name == trainer_name %}
                    <a href="{{ url_for('feed') }}" class="btn-small">Покормить</a>
                {% else %}
                    <a href="{{ url_for('battle', opponent=name) }}" class="btn-small">Атаковать</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="actions">
    <a href="{{ url_for('go') }}" class="btn">Создать покемона</a>
    <a href="{{ url_for('index') }}" class="btn">На главную</a>
</div>
{% endblock %}
